/*
    styles.css

    Created by Kalila L. on 15 Dec 2019.
    Copyright 2020 Project Athena and contributors.
    
    Distributed under the Apache License, Version 2.0.
    See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

:root {
    --vircadia-navy: #182b49;
}

::-webkit-scrollbar {
	display: none;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

#titleURL {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

#titleIMG {
	cursor: pointer;
}

#topMenuBar {
    height: 25px !important;
    -webkit-app-region: drag;
}

#bottomAppBar {

}

#navBar {
	position: fixed;
	top: 25px;
	z-index: 99;
}

#background {
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite; */

    background-image: url('../resources/mtnbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none !important;
    
    height: 100vh;
}

#dialogContent {
    padding-bottom: 0px !important;
}

#mainContent {	  
    box-sizing: border-box;
    /* padding-top: 81px !important;
    padding-bottom: 64px !important; */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
	margin: 0px;
}

.mainContentContainer {
    padding-top: 81px !important;
    padding-bottom: 64px !important;
}

.fill-container {
    padding: 0px !important;
    height: 100%;
}

/* @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.bodyText {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

pre {
	font-family: "Ubuntu" Ubuntu monospace;
	color: #f45905;
	font-weight: bolder;
	margin-left: 12px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 10px;
	font-size: 14px;
    overflow: auto;
	background-color: rgba(0, 0, 0, 0.85);
}

#development-output {
    font-family: "Electrolize", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #ababab;
    font-weight: normal;
    padding-top: 100px;
    font-size: 0.8em;
    z-index: 9001;
}

/* HelloWorld.vue */

#helloWorldContainer {
	padding-left: 60px;
}

/* Cards */

.world-cards {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* FavoriteWorlds.vue */

#favoriteWorldsContainer {
	background-image: url('../resources/mtnbg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: none !important;
}

/* Settings.vue */

#settingsContainer {

}

/* Transitions */

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

/* App.vue */

.v-application .blue.v-btn--depressed {
    background-color: #34455f !important;
}

#downloadButton span {
    font-size: 12px;
}

#updateButton span {
    font-size: 12px;
}
